/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.LANDING_PAGE {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3710px;
  z-index: 72;
}
.GRID {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3972px;
  z-index: 71;
}
.HEADER {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3972px;
  z-index: 68;
}
.Galaxy_Coffee {
  font-size: 60px;
  font-family: "MOON GET!";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.417;
  position: absolute;
  left: 362px;
  top: 316.396px;
  z-index: 66;
}
.Come_to_our_Grand_Opening_ {
  font-size: 48px;
  font-family: "Karla";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.75;
  text-align: center;
  position: absolute;
  left: 376.75px;
  top: 456.596px;
  z-index: 65;
}
.Celebrate_with_us_and_get_a_FREE_house_blend_co {
  font-size: 30px;
  font-family: "Karla";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 141.583px;
  top: 514.268px;
  width: 720px;
  height: 30px;
  z-index: 64;
}
.HEADER_IMAGES {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3972px;
  z-index: 63;
}
.girl_drinking_coffee_frame {
  background-color: rgb(183, 25, 255);
  position: absolute;
  left: 835px;
  top: 577px;
  width: 532px;
  height: 387px;
  z-index: 61;
}
.oreo_donuts_frame {
  background-color: rgb(183, 25, 255);
  position: absolute;
  left: 535px;
  top: 576px;
  width: 297px;
  height: 388px;
  z-index: 59;
}
.book_ipad_frame {
  background-color: rgb(183, 25, 255);
  position: absolute;
  left: 0px;
  top: 577px;
  width: 533px;
  height: 387px;
  z-index: 57;
}
.Header_background {
  border-width: 3px;
  border-color: rgb(109, 23, 232);
  border-style: solid;
  background-color: rgb(109, 23, 232);
  position: absolute;
  left: 0px;
  top: -1px;
  width: 1360px;
  height: 572px;
  z-index: 55;
}
.CALL_TO_ACTION {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3972px;
  z-index: 53;
}
.Do_you_like_free_stuff__Of_course_you_do___Sign {
  font-size: 36px;
  font-family: "Karla";
  color: rgb(183, 25, 255);
  font-weight: bold;
  line-height: 1;
  text-align: center;
  position: absolute;
  left: 262.917px;
  top: 1189.943px;
  width: 670px;
  height: 69px;
  z-index: 52;
}
.Sign_up_form {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3972px;
  z-index: 51;
}
.PRODUCT_OFFERINGS {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3972px;
  z-index: 44;
}
.Cosmic_coffee_and_stellar_pastries {
  font-size: 36px;
  font-family: "Karla";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.694;
  position: absolute;
  left: 390.312px;
  top: 1695.451px;
  z-index: 43;
}
.We_re_serious_about_what_goes_in_your_cup_and_o {
  font-size: 24px;
  font-family: "Karla";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.042;
  position: absolute;
  left: 332.516px;
  top: 1744.306px;
  width: 702px;
  height: 24px;
  z-index: 42;
}
.Coffee {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3972px;
  z-index: 41;
}
.Coffee {
  font-size: 30px;
  font-family: "Karla";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.833;
  text-align: center;
  position: absolute;
  left: 440.594px;
  top: 1840.005px;
  z-index: 40;
}
.We_offer_a_house_blend_of_Fair_Trade_coffee_and {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.389;
  text-align: left;
  position: absolute;
  left: 335.844px;
  top: 2104.726px;
  width: 300px;
  height: 118px;
  z-index: 38;
}
.Pastries {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3972px;
  z-index: 36;
}
.Pastries {
  font-size: 30px;
  font-family: "Karla";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.833;
  text-align: center;
  position: absolute;
  left: 819.297px;
  top: 1840.005px;
  z-index: 35;
}
.Our_homemade_scones_are_seriously_otherworldly_ {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.389;
  -moz-transform: matrix( 0.95761732034029,0,0,1,0,0);
  -webkit-transform: matrix( 0.95761732034029,0,0,1,0,0);
  -ms-transform: matrix( 0.95761732034029,0,0,1,0,0);
  position: absolute;
  left: 726.421px;
  top: 2103.679px;
  width: 326.846px;
  height: 116.094px;
  z-index: 33;
}
.SOCIAL_BUZZ {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3972px;
  z-index: 30;
}
.Our_coffee_is_out_of_this_world_ {
  font-size: 36px;
  font-family: "Karla";
  color: rgb(183, 25, 255);
  font-weight: bold;
  line-height: 0.694;
  position: absolute;
  left: 432.312px;
  top: 2423.508px;
  z-index: 29;
}
.We_re_kind_of_a_big_deal__See_what_others_have_ {
  font-size: 24px;
  font-family: "Karla";
  color: rgb(183, 25, 255);
  line-height: 1.042;
  position: absolute;
  left: 319.656px;
  top: 2494.015px;
  width: 758px;
  height: 24px;
  z-index: 28;
}
.REVIEWS {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3972px;
  z-index: 27;
}
._The_coffee_is_delicious__lovingly_made__and_un {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(0, 0, 0);
  line-height: 1.389;
  position: absolute;
  left: 415px;
  top: 2604.039px;
  width: 239px;
  height: 140px;
  z-index: 25;
}
._The_Sumatran_roast_is_amazing__and_the_Early_G {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(0, 0, 0);
  line-height: 1.389;
  position: absolute;
  left: 848px;
  top: 2607.039px;
  width: 241px;
  height: 115px;
  z-index: 23;
}
.Products_background_color {
  border-width: 3px;
  border-color: rgb(109, 23, 232);
  border-style: solid;
  background-color: rgb(109, 23, 232);
  position: absolute;
  left: -4px;
  top: 1590px;
  width: 1365px;
  height: 696px;
  z-index: 21;
}
.CONTACT {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3972px;
  z-index: 19;
}
.coming_soon_to_your_galaxy {
  font-size: 36px;
  font-family: "MOON GET!";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.667;
  position: absolute;
  left: 273px;
  top: 3006.944px;
  width: 806px;
  height: 39px;
  z-index: 18;
}
.Come_say_hi_in_person_or_on_the_web_ {
  font-size: 24px;
  font-family: "Karla";
  color: rgb(255, 255, 255);
  line-height: 1.042;
  position: absolute;
  left: 474.781px;
  top: 3047.015px;
  width: 400px;
  height: 24px;
  z-index: 17;
}
.MAP {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3972px;
  z-index: 16;
}
.Primary_map_marker {
  background-color: rgb(183, 25, 255);
  position: absolute;
  left: 521px;
  top: 3252px;
  width: 34px;
  height: 45px;
  z-index: 15;
}
.cafe_map_frame {
  background-color: rgb(183, 183, 183);
  position: absolute;
  left: 274px;
  top: 3126px;
  width: 500px;
  height: 367px;
  z-index: 13;
}
.CONTACT_INFO {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3972px;
  z-index: 11;
}
._867_Jenny_Rd_Atlanta__GA_87904__hello_galaxycof {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.389;
  position: absolute;
  left: 849.859px;
  top: 3146.632px;
  width: 183px;
  height: 93px;
  z-index: 10;
}
.FOOTER {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 3972px;
  z-index: 5;
}
.Copyright__2018_Galaxy_Coffee {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.389;
  position: absolute;
  left: 575px;
  top: 3663.726px;
  width: 237px;
  height: 18px;
  z-index: 4;
}
.Contact_background_color {
  background-color: rgb(109, 23, 232);
  position: absolute;
  left: -1px;
  top: 2836px;
  width: 1370px;
  height: 874px;
  z-index: 3;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
